In [407]:
!pip install openpyxl
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
import xlsxwriter

Requirement already satisfied: openpyxl in c:\users\admin\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\admin\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [363]:
url = 'https://www.bot.or.th/english/statistics/_layouts/application/exchangerate/exchangerate.aspx'
ps = requests.get(url,'html.parser')

In [364]:
soup = BeautifulSoup(ps.text)

In [400]:
table1 = soup.find_all('table',class_='table')

In [426]:
rows = []

for i in table1:
    a = i.find_all('tr',class_='bg-gray')
    for j in a:
        country = j.find_all('td',class_='tx-news')[0].text.strip()
        currency = j.find_all('td',class_='tx-news')[1].text.strip()
        buying_rate = j.find_all('td',class_='tx-news')[2].text.strip()
        selling_rate = j.find_all('td',class_='tx-news')[3].text.strip()
        rows.append((country,currency,buying_rate,selling_rate))

In [429]:
df = pd.DataFrame(rows,columns=['Country','Currency','Buying rate','Selling rate'])
df['Buying rate'].astype(float)
df['Selling rate'].astype(float)
df.index = df.index + 1
df

,Country,Currency,Buying rate,Selling rate
1,UNITED STATES,USD,33.0512,33.1458
2,UNITED KINGDOM,GBP,43.2527,43.4145
3,EURO ZONE,EUR,36.4439,36.5536
4,JAPAN (100 Yen),JPY,27.5995,27.7064
5,HONG KONG,HKD,4.2019,4.2199
6,MALAYSIA,MYR,7.7832,7.8226
7,SINGAPORE,SGD,24.2270,24.3029
8,BRUNEI DARUSSALAM,BND,24.1136,24.2036
9,PHILIPPINES,PHP,0.6182,0.6229
10,INDONESIA (1000 Rupiah),IDR,2.1688,2.2335
11,INDIA,INR,0.3975,0.4099
12,SWITZERLAND,CHF,35.1210,35.2290
13,AUSTRALIA,AUD,24.0949,24.1639
14,NEW ZEALAND,NZD,22.5487,22.6189
15,CANADA,CAD,26.0256,26.1058
16,SWEDEN,SEK,3.4813,3.4972
17,DENMARK,DKK,4.8972,4.9141
18,NORWAY,NOK,3.7324,3.7456
19,CHINA,CNY,5.1355,5.1706
20,MEXICO,MXN,1.6145,1.6298
21,SOUTH AFRICA,ZAR,2.2210,2.2420
22,"KOREA, REPUBLIC OF",KRW,0.0274,0.0276
23,TAIWAN,TWD,1.1741,1.1852
24,KUWAIT,KWD,109.0681,110.1013
25,SAUDI ARABIA,SAR,8.8344,8.9181
26,UNITED ARAB EMIRATES,AED,9.0239,9.1094
27,MYANMAR,MMK,0.0186,0.0188
28,BANGLADESH,BDT,0.3842,0.3878
29,CZECH REPUBLIC,CZK,1.4850,1.4991
30,CAMBODIA (100 Riel),KHR,0.8219,0.8297
31,KENYA,KES,0.2897,0.2925
32,LAO PEOPLE'S DEMOCRATIC REPUBLIC (100 Kip),LAK,0.2877,0.2904
33,RUSSIAN FEDERATION,RUB,0.3226,0.3256
34,VIET NAM (100 Dong),VND,0.1449,0.1463
35,EGYPT,EGP,2.1085,2.1285
36,POLAND,PLN,7.8472,7.9215
37,SRI LANKA,LKR,0.1253,0.1265
38,IRAQ,IQD,0.0227,0.0229
39,BAHRAIN,BHD,87.9199,88.7528
40,OMAN,OMR,86.0930,86.9086
41,JORDAN,JOD,46.7501,47.1929
42,QATAR,QAR,9.0701,9.1560
43,MALDIVES,MVR,2.1440,2.1643
44,NEPAL,NPR,0.2733,0.2759
45,PAPUA NEW GUINEA,PGK,9.4134,9.5026
46,ISRAEL,ILS,10.2482,10.3453
47,HUNGARY,HUF,0.0991,0.1001
48,PAKISTAN,PKR,0.1844,0.1861

In [430]:
writer = pd.ExcelWriter('ExRate.xlsx')
df.to_excel(writer,index=False)
writer.save()